{% extends "base.html" %}
{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                   usuario: {{ usuario  }}
                    <h2 class="splash-subhead" style="color:#1E90FF">
                        Utilitário Saj Rio
                    </h2>
               </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead"></h4>
                </div>
            </div>
       </div>
    </div>
{% endblock %}

